{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1 class="text-center my-4">Les Articles</h1> 
    <div class="container">
        <section class="row">
        {# ! for valeur in ()objet ou tableau #}
        {% for article in articles %}
            <div class="card border-primary cold-md-3 p-2 ">
  <div class="card-header">{{ article.title }}</div>
  <div class="card-body text-center">
        <img class="img-fluid" src="{{ article.image }}" alt="">
    {# le filtre raw permet d'interpreter les balises html #}
        {{ article.content|raw }}
        <p class="text-end">Ecrit le {{ article.createdAt|date('d/m/Y à H:i:s') }}
        </p>
        <div class="text-center">
        <a href="{{ path('blog_show',
        {id: article.id}) }}" class="btn btn-primary">voir plus</a>
        </div>
  </div>
</div>

        {% endfor %}
        </section>
    </div>
{% endblock %}
